/* Eléments principaux de la page */
 
body
{
    background: url("Img/Fond6.jpg") no-repeat;
	background-position:center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}
 
#bloc_page
{
    width: 900px;
    margin: auto;
}
 
section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}
/* Header */
 
header
{
    background: url('Img/separateur.png') repeat-x bottom;
}
 
#titre_principal
{
    display: inline-block;
}
 
header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 0px;
}
header p
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}
 

/* Navigation */
 
nav
{
    display: inline-block;
    width: 900px;
    text-align: right;
}
 
nav ul
{
    list-style-type: none;
}
 
nav li
{
    display: inline-block;
    margin-right: 15px;
}
 
nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}
 
nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Corps */
 
article
{
 margin-left:250px;
 position: relative;
 border-radius: 10px; 
 padding:5px;
}
h1
{
text-align:center;
font-weight:bold;
color:black;
font-size:30px;
} 
h2
{
text-align:center;
font-weight:bold;
color:black;
font-size:25px;
} 
h3
{
text-align:center;
color:black;
font-size:15px;
} 
section p
{
 text-align:center; 
}
aside
{
 border-radius: 10px;
 width:250px;
 border: 1px solid black;
 padding: 5px;
 margin-left: 0px;  
 margin-top: 0px;
 position: absolute; 
 font-weight:bold;
}

/* Footer */
 
footer
{
    background:url('Img/separateur.png') repeat-x top;
    padding-top: 10px;
	width:900px;
	margin: auto;
}
 
footer p, footer ul
{
    font-size: 0.8em;
}
 
footer h1
{
    font-size: 1.1em;
}